// Embed fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400;500;600;700&display=swap');

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff2');
    font-weight: 700;
}

// Css elements
@import 'normalize.css';

:root {
    //color code
    --primary-color: #fe2c55;
    --hover-primary-color: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    --text-color: #161823;
    --input-color: #000;
    --popper-bg-color: #fff;
    --hover-bg-color: rgba(22, 24, 35, 0.03);
    --username-check-icon-color: #20d5ec;
    --gray-color_trans: rgba(22, 24, 35, 0.5);
    --separated-border-color: rgba(22, 24, 35, 0.12);

    //default layout
    --dl-header-height: 60px;
    --dl-content-width: 1150px;
    --dl-sidebar-width: 356px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    // Make 1 rem = 10px
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
    background: transparent;
    font-family: 'ProximaNova', sans-serif;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// Scrollbar
::-webkit-scrollbar {
    width: 8px;
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
}

// Custom Tippy tooltips
.tippy-box {
    padding: 4px 0;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.2rem;
    color: #ffffff;
    background-color: rgba(84, 84, 84, 0.92);

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    &[data-placement^='bottom'] > .tippy-arrow {
        top: -1px;
    }
}
