@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

:root {
    //color code
    --primary-color: #fe2c55;
    --black-color: #161823;
    --gray-color_trans: rgba(22, 24, 35, 0.5);

    //default layout
    --dl-header-height: 60px;
    --dl-content-width: 1150px;
    --dl-sidebar-width: 356px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    // Make 1 rem = 10px
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
