.wrapper {
    --search-width: 361px;
    --search-height: 46px;
    --search-radius: 92px;

    width: 100%;
    height: var(--dl-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    width: var(--dl-content-width);
    height: 100%;
    padding: 0 24px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
}

.actions {
    --action-btns-size: 32px;

    display: flex;
    align-items: center;
    cursor: pointer;

    .control-btn {
        position: relative;
        width: var(--action-btns-size);
        height: var(--action-btns-size);
        margin-left: 19px;
        font-size: 2.2rem;
        display: flex;
        align-items: center;
        cursor: pointer;

        &::after {
            content: attr(data-new-status);
            position: absolute;
            top: 0;
            left: 100%;
            height: 20px;
            min-width: 20px;
            padding: 0 6px;
            color: #fff;
            background-color: var(--primary-color);
            border-radius: 20px;
            transform: translate(-14px, -30%);
            font-family: 'ProximaNova', sans-serif;
            font-size: 1.4rem;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .current-user {
        display: flex;
        align-items: center;
    }

    .current-user-avt {
        margin-left: 24px;
        display: block;
        width: var(--action-btns-size);
        height: var(--action-btns-size);
        border-radius: 50%;
        object-fit: cover;
    }

    .more-btn {
        width: 28px;
        text-align: center;
        margin-left: 16px;
        font-size: 1.9rem;
        color: var(--text-color);
        background-color: transparent;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}
